.flyer-container {
    position: fixed;
    top: 140px;
    right: 50px;
    width: 180px;
    height: 200px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1000;
}

.logo {
    width: 135px;
    height: 52px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(0.9);
}


.flyer-container h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #333333;
    text-align: center;
}

.telegram-link {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #469063;
    text-align: center;
    transition: transform 0.3s ease;
}

.telegram-link:hover {
    transform: scale(0.9);
}

@media (max-width: 767px) {
    .flyer-container {
        top: 10px;  /* Меняем положение ближе к верху экрана */
        right: 10px;  /* Уменьшаем отступ справа для лучшей видимости на маленьких экранах */
        width: 150px;  /* Уменьшаем ширину контейнера */
        height: 150px;  /* Автоматическая высота для содержимого */
        padding: 10px;  /* Уменьшаем внутренние отступы */
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);  /* Легче тень для менее агрессивного вида */
       z-index: 9999;
        display: flex; /* Добавляем flex контейнеру */
        flex-direction: column; /* Определяем направление flex-контейнера как колонку */
    justify-content: center; /* Центрируем по вертикали по оси Y */
    align-items: center; /* Центрируем по горизонтали по оси X */
    }

    .logo {
        width: 100px;  /* Уменьшаем размер логотипа */
        height: auto;
    }

    .flyer-container h3 {
        font-size: 10px;  
    }

    .telegram-link {
        font-size: 10px;
   }
