.flyer-container {
    position: fixed;
    top: 140px;
    right: 50px;
    width: 180px;
    height: 200px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 1000;
}

.logo {
    width: 135px;
    height: 52px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(0.9);
}


.flyer-container h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #333333;
    text-align: center;
}

.telegram-link {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    color: #469063;
    text-align: center;
    transition: transform 0.3s ease;
}

.telegram-link:hover {
    transform: scale(0.9);
}

@media (max-width: 767px) {
    .flyer-container {
        top: 10px;  
        right: 10px;  
        width: 150px;  
        height: auto;  
        padding: 15px;  
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); 
        z-index: 9999;
    }

    .logo {
        width: 120px;  
        height: auto; 
    }

    .flyer-container h3 {
        font-size: 10px;  
    }

    .telegram-link {
        font-size: 10px; 
    }
}
