.like-container {
  display: flex;
  align-items: center;
}
 
.like-button {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}
 
.like-count {
  font-size: 18px;
}
