 #menu-toggle {
              font-size: 24px;
              background: none;
              border: none;
              cursor: pointer;
              color: #fff;
              margin-right: 0px;
			  transition: transform 0.3s ease; 
        }

        #menu-toggle:hover {
              transform: scale(0.9); 
        }
		
		#menu-toggle {
			  display: block;
	    }
			   
		
		.language-switcher {
            display: inline-block;
            vertical-align: middle;
            margin: 10px; 
            margin-left: -15px; 
            background-color: #333;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .language-link {
            display: inline-block;
            margin-left: -20px;
        }

        .language-link img {
            vertical-align: middle;
        }