#menu-toggle {
    font-size: 20px; /* Уменьшаем размер кнопки-триггера */
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-right: 10px; /* Добавляем небольшой отступ справа */
    transition: transform 0.3s ease;
}

#menu-toggle:hover {
    transform: scale(0.9);
}

.language-switcher {
    display: block; /* Изменяем на блочный элемент для правильного размещения на мобильных устройствах */
    margin: 10px auto; /* Центрируем переключатель по горизонтали и добавляем отступы */
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center; /* Центрируем текст внутри переключателя */
}

.language-link {
    display: inline-block;
    margin: 5px; /* Уменьшаем отступы между ссылками */
}

.language-link img {
    vertical-align: middle;
}
