#menu-toggle {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

#menu-toggle:hover {
    transform: scale(0.9);
}

.language-switcher {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Выравниваем элементы по вертикали */
    margin: 10px auto; /* Уменьшаем отступы и центрируем по горизонтали */
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333; /* Добавляем фон для ясности */
}

.language-link {
    margin: 0 5px; /* Уменьшаем отступы между ссылками */
}

.language-link img {
    vertical-align: middle;
}
